* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Doto", serif;
  color: rgb(0, 255, 0);
  text-shadow: rgb(0, 255, 0) 0 0 20px;
}

.digital-clock {
  width: 100%;
  z-index: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.week {
  gap: 30px;
  font-size: 5.5rem;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  color: rgb(0, 255, 0);
  border: 1px solid rgb(0, 255, 0);
  text-shadow: rgb(0, 255, 0) 1px 0 10px;
  box-shadow: 0 0 10px 1px rgb(0, 255, 0) inset;
  padding: 0 25px;
  border-radius: 5px;
}

.kun {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 5rem;
  font-family: "Audiowide", sans-serif;
}

.time {

  font-size: 15rem;
  display: flex;
  font-family: "Audiowide", serif;
  gap: 20px;
}

.dot {
  animation-name: switch;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes switch {
  from {
    color: black;
    text-shadow: none;
  }

  to {
    color: rgb(0, 255, 0);
  }
}

.loading {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
}

.imgload {
  display: none;
}


@media (max-width: 1350px) {
  .digital-clock {
    padding-block-end: 20px;
  }
  

  .time {
    font-size: 12rem;
  }

  .week {
    gap: 20px;
    font-size: 5rem;
  }
  .active {
    padding: 0 20px;
  }
}

@media (max-width:1200px) {
  .week {
    gap: 10px;
    font-size: 4rem;
  }
}

@media (max-width:1000px) {
  .week {
    gap: 10px;
    font-size: 3rem;
  }

  .time {
    font-size: 10rem;
  }
}

@media (max-width:850px) {
  .time {
    font-size: 8rem;
  }
}

@media (max-width:750px) {
  .time {
    font-size: 6rem;
  }
  .week {
    font-size: 2rem;
  }
  .kun {
    font-size: 2rem;
  }
}

@media (max-width:550px) {
  #notphone {
    display: none;
  }

  .digital-clock {
    flex-direction: row-reverse;
  }

  .week {
    flex-direction: column;
  }
}