* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Doto", serif;
  color: rgb(0, 255, 0);
  text-shadow: rgb(0, 255, 0) 0 0 20px;
}

.digital-clock {
  width: 100%;
  z-index: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
}

.week {
  gap: 30px;
  font-size: 5.5rem;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  color: rgb(0, 255, 0);
  border: 1px solid rgb(0, 255, 0);
  text-shadow: rgb(0, 255, 0) 1px 0 10px;
  box-shadow: 0 0 10px 1px rgb(0, 255, 0) inset;
  padding: 0 25px;
  border-radius: 5px;
}

.kun {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 5rem;
  font-family: "Audiowide", sans-serif;
}

.time {

  font-size: 15rem;
  display: flex;
  font-family: "Audiowide", serif;
  gap: 20px;
}

.dot {
  animation-name: switch;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes switch {
  from {
    color: black;
    text-shadow: none;
  }

  to {
    color: rgb(0, 255, 0);
  }
}

.loading {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
}

.imgload {
  display: none;
}


.main {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}


#round {
  border: 1px solid rgb(0, 255, 0);
  border-radius: 50%;
  animation: wawe;
  opacity: 70%;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round1 {
  width: 300px;
  height: 300px;
}
.round2 {
  width: 250px;
  height: 250px;
}
.round3 {
  width: 200px;
  height: 200px;
}
.round4 {
  width: 150px;
  height: 150px;
}
.round5 {
  width: 100px;
  height: 100px;
}

@keyframes wawe {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}






@media (max-width: 1350px) {
  .digital-clock {
    padding-block-end: 20px;
  }
  

  .time {
    font-size: 12rem;
  }

  .week {
    gap: 20px;
    font-size: 5rem;
  }
  .active {
    padding: 0 20px;
  }
  
}

@media (max-width:1200px) {
  .week {
    gap: 10px;
    font-size: 4rem;
  }
}

@media (max-width:1000px) {
  .week {
    gap: 10px;
    font-size: 3rem;
  }

  .time {
    font-size: 10rem;
  }
}

@media (max-width:850px) {
  .time {
    font-size: 8rem;
  }
}

@media (max-width:750px) {
  .time {
    font-size: 6rem;
  }
  .week {
    font-size: 2rem;
  }
  .kun {
    font-size: 2rem;
  }
  .main {
    display: flex;
  }
}

@media (max-width:560px) {
  #notphone {
    display: none;
  }

  .digital-clock {
    flex-direction: row-reverse;
  }

  .week {
    flex-direction: column;
  }
  .main {
    display: flex;
  }
}

@media (max-width:480px) {
  .time {
    font-size: 4rem;
  }
  .week {
    font-size: 1rem;
  }
  .kun {
    font-size: 1rem;
  }

  .main {
    display: flex;
  }
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
  border-radius: 10px;
}

#closeModal {
  float: right;
  font-size: 20px;
  cursor: pointer;
}